@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

input{
    background-color: white;
}

/* 로그인화면 로고 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 헤더 로고 */
@font-face {
    font-family: 'KakaoBigSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoBigSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 나머지 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
  margin: 0;
  background-color: white;
  font-family: "Pretendard-Regular";
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.custom-radio {
  @apply appearance-none h-4 w-4 border-2 border-gray-300 rounded-full;
  position: relative;
}

.custom-radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.5rem;
  width: 0.5rem;
  background-color: #65558F;
  border-radius: 50%;
}

.rdp-root {
  --rdp-day-height: 10px;  /* 날짜 셀 높이를 36px로 */
  --rdp-day-width: 10px;   /* 날짜 셀 너비를 36px로 */
  font-size: 16px;         /* 달력 전체 글자 크기를 16px로 */
}
